/**
 * zhuige's Style CSS
 * http://www.zhuige.com
 */
/***== 通用 ==***/
.zhuige-base-block {}

.zhuige-gray {
	background-color: #F4F6F8;
}

.zhuige-base-title {
	padding: 30px;
	text-align: center;
}

.zhuige-base-title h1 {
	font-size: 30px;
	padding-bottom: 20px;
}

.zhuige-base-title p {
	font-size: 14px;
	color: #666666;
	font-weight: 200;
}

/***== 顶部导航 ==***/
header {
	width: 100%;
	position: fixed;
	z-index: 99;
	height: 80px;
	background: #FFFFFF;
	/* box-shadow: 0 3px 6px -2px rgba(0,0,0,.1); */
	margin-bottom: 20px;
}

/**-- 主导航 --**/
nav {
	height: 80px;
}

nav .logo {
	color: #333333;
	font-size: 13px;
	font-weight: 200;
	letter-spacing: -1px;
}

nav .logo img {
	height: 40px;
	width: auto;
	border-radius: 2px;
}

nav .logo span {
	margin-left: 16px;
	border-left: 1px solid #EEEEEE;
	padding-left: 16px;
	height: 40px;
	line-height: 40px;
}

.zhuige-nav {
	display: flex;
	flex: 1;
	margin-top: -8px;
}

.zhuige-nav-list {
	display: flex;
	flex: 1;
	padding: 0 0 0 40px;
}

.zhuige-nav-list li {
	padding: 0 15px;
	list-style: none;
	position: relative;
}

.zhuige-nav-list li>a {
	color: #333333;
	font-weight: 400;
	padding: 6px 0;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	font-size: 14px;
}

.zhuige-nav-list li>a:hover {
	color: #2C70DB;
}

.zhuige-nav-list li>a:hover:before {
	left: 0;
	right: 0;
}

.zhuige-nav-list li>a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #2C70DB;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.zhuige-nav-list li.nav-activ>a {
	font-weight: 500;
	color: #2C70DB;
}

.zhuige-nav-list li.nav-activ>a:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 200%;
	left: -50%;
	bottom: 0;
	background: #2C70DB;
	height: 2px;
}


/***== 底部导航 ==***/
footer {
	min-height: 80px;
	line-height: 80px;
	background: #141621;
	color: #FFFFFF;
	font-size: 12px;
}

.zhuige-footer-copy a,
.zhuige-footer-links span a {
	color: #FFFFFF;
}

.zhuige-footer-copy {
	font-weight: 200;
}

.zhuige-footer-copy img {
	height: 14px;
	margin: 0 4px;
}

.zhuige-footer-links span {
	margin: 0 8px;
}



/*** 大图轮播 ***/
.lb-box {
	width: 100%;
	height: 420px;
	position: relative;
	overflow: hidden;
	z-index: 9;
}

.lb-content {
	width: 100%;
	height: 100%;
}

.lb-item {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
}

.lb-item>a {
	width: 100%;
	height: 100%;
	display: block;
}

.lb-item>a>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lb-item>a>div {
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0px;
	padding: 15px;
	color: #fff;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.lb-item>a>div>h2 {
	width: 100%;
	padding-right: 170px;
	height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lb-item>cite {
	width: 100%;
	height: 100%;
	display: block;
}

.lb-item>cite>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lb-info {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
}

.lb-item.active {
	display: block;
	left: 0%;
}

.lb-item.active.left {
	left: -100%;
}

.lb-item.active.right {
	left: 100%;
}

/* 轮播控制 */
.lb-item.next,
.lb-item.prev {
	display: block;
	position: absolute;
	top: 0px;
}

.lb-item.next {
	left: 100%;
}

.lb-item.prev {
	left: -100%;
}

.lb-item.next.left,
.lb-item.prev.right {
	left: 0%;
}

.lb-sign {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 5px 3px;
	border-radius: 16px;
	list-style: none;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.04);
}

.lb-sign li {
	width: 22px;
	height: 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	float: left;
	color: #aaa;
	margin: auto 4px;
	border-radius: 13px;
	cursor: pointer;
	opacity: 0.6;
}

.lb-sign li:hover {
	color: #fff;
}

.lb-sign li.active {
	color: #000;
	opacity: 1;
	background-color: #EBEBEB;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

.lb-ctrl {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	vertical-align: middle;
	font-weight: 200;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	user-select: none;
	background-color: rgba(255, 255, 255, .4);
	color: rgba(44, 112, 219, 1);
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
}

.lb-ctrl.left {
	left: -50px;
}

.lb-ctrl.right {
	right: -50px;
}

.lb-box:hover .lb-ctrl.left {
	left: 10px;
}

.lb-box:hover .lb-ctrl.right {
	right: 10px;
}

.lb-ctrl:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

/* 轮播点差异 */
.lb-sign {
	right: auto;
	left: 50%;
	margin-left: -40px;
}

.lb-sign li {
	height: 6px;
	width: 6px;
	font-size: 6px;
	line-height: 6px;
	color: rgba(0, 0, 0, 0);
	background-color: rgba(255, 255, 255, .6);
}

.lb-sign li:hover {
	color: rgba(0, 0, 0, 0);
	background-color: rgba(44, 112, 219, 1);
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

.lb-sign li.active {
	color: rgba(0, 0, 0, 0);
	width: 18px;
	opacity: 1;
	background-color: rgba(44, 112, 219, 1);
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

/*** 大图轮播 end ***/

.zhuige-base-text-img * {
	margin: 10px 10%;
	font-size: 13px;
	font-weight: 200;
	line-height: 2em;
}


/**** 产品轮播 ****/
.zhuige-goods-swiper .lb-box {
	height: 240px;
}

.lb-prd {}

.zhuige-goods-swiper .lb-ctrl {
	top: 40%;
}

.zhuige-goods-block {
	height: 200px;
	width: 260px;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	margin: 0 5px;
}

.zhuige-goods-block img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.zhuige-goods-block h6 {
	position: absolute;
	height: 100%;
	line-height: 350px;
	width: 100%;
	padding: 0 20px;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.zhuige-goods-block h6:hover {
	background: none;
}

.zhuige-goods-block h6 a {
	font-size: 13px;
	color: #FFFFFF;
}


.zhuige-article-list-block {
	border-bottom: 1px dotted #DDDDDD;
	padding: 20px 0;
}

.zhuige-article-list-block:last-of-type {
	border: none;
	padding-bottom: 0;
}

.zhuige-article-list-block:first-of-type {
	padding-top: 0;
}

.zhuige-article-list-block-img {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 180px;
	-ms-flex: 0 0 180px;
	flex: 0 0 180px;
	height: 120px;
	width: 180px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
}

.zhuige-article-list-block-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.5s;
}

.zhuige-article-list-block-img img:hover {
	transform: scale(1.1);
}

.zhuige-article-list-block-img span {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 200;
	color: #FFFFFF;
	padding: 0 8px;
	border-radius: 2px;
	background: rgba(0, 0, 0, .6);
	position: absolute;
	z-index: 8;
	top: 10px;
	left: 10px;
}

.zhuige-article-list-block-text {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 12px;
	overflow: hidden;
}

.zhuige-article-list-block-text h6 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.8em;
}

.zhuige-article-list-block-text h6 strong {
	display: inline;
	font-size: 10px;
	color: #FFFFFF;
	padding: 2px 6px;
	border-radius: 2px;
	background: #2C70DB;
	margin-right: 6px;
	vertical-align: middle;
}

.zhuige-article-list-block-text div {
	font-size: 14px;
	font-weight: 200;
	line-height: 1.8;
	height: 1.8em;
	word-break: keep-all;
	text-overflow: ellipsis;
	overflow: hidden;
}

.zhuige-article-list-block-text p {
	font-size: 12px;
	font-weight: 200;
	color: #7f7f7f;
}

.zhuige-article-list-block-text p cite {
	margin: 0 8px;
}

.zhuige-article-list-block-text p cite:first-of-type {
	margin-left: 0;
}

/*** 分页 ***/
.zhui-pagination {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	padding: 40px;
}

.zhui-pagination a {
	display: block;
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #DDDDDD;
	border-right: 0;
	background-color: #FFFFFF;
	font-size: 13px;
	font-weight: 300;
}

.zhui-pagination a:hover {
	background-color: #2B76ED;
	border-color: #2B76ED;
	color: #FFFFFF;
}

.zhui-pagination a:first-child {
	border-radius: 6px 0 0 6px;
}

.zhui-pagination a:last-child {
	border: 1px solid #DDDDDD;
	border-radius: 0 6px 6px 0;
}

.zhui-pagination a.zhui-page-on {
	background-color: #2B76ED;
	border-color: #2B76ED;
	color: #FFFFFF;
}


.zhuige-block {
	background: #FFFFFF;
	border-radius: 4px;
}


.zhuige-main-cont .zhuige-nav-list {
	padding: 0;
}


.zhuige-main-text .zhuige-block {
	font-size: 13px;
	line-height: 1.8em;
	min-height: 480px;
}

.zhuige-main-text .zhuige-block p {
	margin-bottom: .6em;
	font-weight: 200;
}

.zhuige-main-text .zhuige-block img {
	max-width: 60%;
	height: auto;
	margin: 0 auto;
	display: flex;
}

.zhuige-breadcrumb {
	padding: 6px 0;
}

.zhuige-breadcrumb * {
	font-size: 12px;
	margin-right: 6px;
	font-weight: 200;
}

.zhuige-breadcrumb .fa {
	color: #999999;
}

.zhugie-header-fix {
	padding-top: 80px;
}

.zhuige-main-title {
	height: 300px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.zhuige-main-title>img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.zhuige-main-title-text {
	position: absolute;
	z-index: 8;
	top: 110px;
	height: 260px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
}

.zhuige-main-title-text h1 {
	font-size: 30px;
	line-height: 2em;
}

.zhuige-main-title-text p {
	font-size: 14px;
	font-weight: 200;
}

.zhuige-cooperation {
	padding: 10px 0;
	text-align: center;
}

.zhuige-cooperation a {
	width: 180px;
	height: 80px;
	overflow: hidden;
	margin: 5px;
	border: 1px solid #EEEEEE;
	transition: border-color .5s;
	-webkit-transition: border-color 0.5s;
}

.zhuige-cooperation a img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .5s;
	-webkit-transition: .5s;
}

.zhuige-cooperation a:hover {
	border-color: #2B76ED;
}

.zhuige-cooperation a:hover img {
	transform: scale(1.1);
}

.zhuige-feed-form {
	width: 80%;
	margin: 0 10%;
	padding: 10px 0 30px;
}

.zhuige-form-line {
	height: 40px;
	line-height: 40px;
	border: 1px solid #EEEEEE;
	padding: 0 10px;
	background: #FFFFFF;
	margin-bottom: 10px;
}

.zhuige-form-line input {
	width: 80%;
}

.zhuige-form-line label,
.zhuige-form-height-line label {
	width: 80px;
	font-size: 13px;
	font-weight: 300;
}

.zhuige-form-height-line label {
	width: 100px;
}

.zhuige-form-height-line {
	height: 140px;
	line-height: 1.8em;
	border: 1px solid #EEEEEE;
	padding: 0 10px;
	background: #FFFFFF;
	margin-bottom: 10px;
}

.zhuige-form-height-line textarea {
	width: 90%;
	height: 120px;
	padding: 10px;
	line-height: 1.8em;
}

.zhuige-form-btn button {
	height: 36px;
	line-height: 36px;
	width: 100%;
	text-align: center;
	font-size: 13px;
	font-weight: 200;
	color: #FFFFFF;
	background: #2B76ED;
	border-radius: 2px;
	transition: .5s;
	-webkit-transition: 0.5s;
}

.zhuige-form-btn button:hover {
	background: #235BB0;
	cursor: pointer;
}

.zhuige-img-news {
	height: 260px;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
}

.zhuige-img-news img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.zhuige-img-news h5 {
	position: absolute;
	height: 100%;
	line-height: 460px;
	width: 100%;
	padding: 0 20px;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.zhuige-img-news h5:hover {
	background: none;
}

.zhuige-img-news h5 a {
	font-size: 13px;
	color: #FFFFFF;
}

.zhuige-news {
	width: 82%;
	margin: 0 auto;
}

.zhuige-news-list .zhuige-article-list-block-img {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 120px;
	-ms-flex: 0 0 120px;
	flex: 0 0 120px;
	height: 80px;
	width: 120px;
	position: relative;
}

.zhuige-news-list .zhuige-article-list-block {
	border: none;
	padding: 0;
	margin-bottom: 10px;
}

.zhuige-news-list .zhuige-article-list-block-text h6 {
	font-size: 14px;
}

.zhuige-nav-mobile {
	display: none;
}

.zhuige-nav-mobile .zhuige-nav-list {
	padding: 0;
}

#toTop {
	position: fixed;
	z-index: 10;
	right: 10%;
	bottom: 100px;
}


@media (max-width: 768px) {
	.zhuige-nav-side {
		display: none;
	}

	.zhuige-nav-mobile {
		display: block;
		position: fixed;
		z-index: 19;
		bottom: 0;
		width: 100%;
		background: #FFFFFF;
		height: 80px;
		line-height: 30px;
		padding-top: 15px;
		box-shadow: 0 10px 16px 8px rgba(79, 125, 183, .3);
	}

	.zhuige-nav-mobile .zhuige-nav-list {
		padding: 0;
	}

	footer {
		margin-bottom: 30px;
	}

	header {
		box-shadow: 0 10px 16px -8px rgba(79, 125, 183, .3);
	}

	.lb-box {
		height: 280px;
	}

	.zhuige-goods-block:nth-child(3),
	.zhuige-goods-block:nth-child(4) {
		display: none;
	}

	.zhuige-article-list-block-img {
		-webkit-flex: 0 0 120px;
		-ms-flex: 0 0 120px;
		flex: 0 0 120px;
		height: 80px;
		width: 120px;
	}

	.zhuige-single-nav .zhuige-nav-list li {
		padding: 0 10px;
	}

	.zhuige-single-nav .zhuige-nav-list li>a {
		font-size: 13px;
	}

	.zhuige-cooperation a {
		width: 160px;
	}

	.zhuige-main-title-text h1 {
		font-size: 22px;
		line-height: 1.8em;
		margin-bottom: 10px;
	}

	.zhuige-news {
		width: auto;
	}

	.zhuige-main-text .zhuige-block img {
		max-width: 100%;
	}

	#toTop {
		right: 10px;
	}

	.zhuige-feed-form {
		width: 90%;
		margin: 0 5%;
	}

	.zhuige-form-height-line textarea {
		width: 100%;
		height: 100px;
	}

	.zhuige-main-title {
		height: 240px;
	}

	.zhuige-main-title-text {
		top: 70px;
		height: auto;
	}
}